.status-pending
{
	color: red;
	/*border: solid red 2px;*/
}

.status-approved
{
	color: green;
}

.details-tr

{
	color: white;
	font-weight: bold;
}

.donnes-tr
{
	color: #ffa60c;
	font-weight: bold;
	font-style: italic;
}
