.tout-temoignages
{
	/*border: solid blue 2px;*/
	width: auto;
	align-items: center;
	display: block;
}

.temoignage
{
	border: solid #ffa60c 2px;
}

.temoignage
{
	display: block;
	text-align: center;
	width: 31%;
	margin: 1%;
	float: left;
	align-items: center;
}

.temoignages
{
	display: block;
	align-items: center;
	width: 100%;
	margin: auto;
	/*border: solid blue 1px;*/
}

.temoignages::after
{
	content: "";
	clear: both;
	display: table;
}

.image-entete
{
	margin-top: 5px;
	width: 100px;
	height: 100px;
	border: solid 2px #ffa60c;
	border-radius: 100px;
}

.poster-temoignage
{
	display: block;
	width: 200px;
	margin: auto;
}

@media (max-width: 760px)
{
	.temoignage
{
	display: block;
	text-align: center;
	width: 96%;
	/*margin: auto;*/
	float: left;
}
}