.all_users
{
	padding: 10px;
	font-size: 25px;
	/*border: solid blue 2px;*/
}

.all_users img
{
	display: block;
	align-items: center;
	margin: auto;
	width: 50px;
	height: 50px;
	/*border: white solid 2px;*/
	/*border-radius: 100px;*/
	background-color: #ffa60c;
}

.confirme, .non_confirme
{
	display: block;
	align-items: center;
	margin:  auto;
	/*border: solid blue 1px;*/
	height: auto;
	width: 300px;
	background-color: #ffa60c;
	border-radius: 10px;
}

.confirme a, .non_confirme a
{
	/*border: solid red 2px;*/
	margin: auto;
	display: block;
	text-align: center;
}

.confirme a
{
	color: white;
}

.non_confirme a
{
	color: red;
	margin-top: 10px;
}

